
.inner-menu .menu-list {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 12px 15px;
    background: #000;
}

.inner-menu .menu-list .menu-list-item {
    margin-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ffff00;
}

.inner-menu .menu-list h3 {
    margin: 0;
    padding-bottom: 6px;
    font-size: 30px;
    color: #cc0000;
    border-bottom: 4px double #cc0000;
}

.inner-menu .menu-list .menu-list-item h4 {
    margin: 0;
    font-size: 18px;
    line-height: 23px;
}

.inner-menu .menu-list .menu-list-item span.price {
    font-size: 15px;
    line-height: 23px;
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid Serif', serif;
    font-weight: 400;
}

body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}